@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.category {
  gap: 18px;
}

.category .normal-link{
border: 1px solid #EEEEEE;
padding: 10px 15px;
font-size: 18px;
color: #AEAEAE;
min-height: 50px;
}

.active-link {
  background: #0AB247;
  color: #fff;
}

.mt-44 {
  margin-top: 190px;
}